<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addModalClient">
          <i class="fas fa-plus"></i> Add Client
        </a>
      </div>
    </div>
  </div>
</section>

<section id="clients">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h4>Clients List</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Income</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of clients; let i = index">
                <td>{{i+1}}</td>
                <td>{{client.firstName}} {{client.lastName}}</td>
                <td>{{client.income | currency: 'MNX': '$'}}</td>
                <td>
                  <a routerLink="/client/edit/{{client.id}}" class="btn btn-secondary">
                    <i class="fas fa-angle-double-right"></i>Edit
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--Lateral cards-->
      <div class="col-md-3">
        <div class="card text-center bg-danger text-white mb-3">
          <div class="card-body">
            <h3>Total income</h3>
            <h4 class="display-4">
              {{getTotalIncome() | currency: 'MNX':'$'}}
            </h4>
          </div>
        </div>
        <div class="card text-center bg-success text-white mb-3">
          <div class="card-body">
            <h3>Total clients</h3>
            <h4 class="display-4">
              <i class="fas fa-users"></i>{{clients?.length}}
            </h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!--Add client model-->
<div class="modal fade" id="addModalClient">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title">Add Client</h5>
        <button class="close" data-dismiss="modal" #closeButton>
          <span>&times;</span>
        </button>
      </div>

      <flash-messages></flash-messages>

      <form #clientForm="ngForm" (ngSubmit)="add(clientForm)">
        <div class="modal-body">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              name="firstName"
              class="form-control"
              #firstName="ngModel"
              [(ngModel)]="client.firstName"
              [ngClass]="{'is-invalid': firstName.errors && firstName.touched}"
              required
              minlength="2">
            <div [hidden]="!firstName.errors?.required" class="invalid-feedback">
              First name required
            </div>
            <div [hidden]="!firstName.errors?.minlength" class="invalid-feedback">
              Should contain at least 2 characters
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              name="lastName"
              class="form-control"
              #lastName="ngModel"
              [(ngModel)]="client.lastName"
              [ngClass]="{'is-invalid': lastName.errors && lastName.touched}"
              required
              minlength="2">
            <div [hidden]="!lastName.errors?.required" class="invalid-feedback">
              Last name required
            </div>
            <div [hidden]="!lastName.errors?.minlength" class="invalid-feedback">
              Should contain at least 2 characters
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              class="form-control"
              #email="ngModel"
              [(ngModel)]="client.email"
              [ngClass]="{'is-invalid': email.errors && email.touched}"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              required>
            <div [hidden]="!email.errors?.required" class="invalid-feedback">
              Email required
            </div>
            <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
              Not a valid email
            </div>
          </div>
          <div class="form-group">
            <label for="income">Income</label>
            <input
              type="number"
              name="income"
              class="form-control"
              #income="ngModel"
              [(ngModel)]="client.income"
              [ngClass]="{'is-invalid': income.errors && income.touched}"
              required>
            <div [hidden]="!income.errors?.required" class="invalid-feedback">
              Income required

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>

    </div>
  </div>
</div>

